<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta property="og:title" content="Vide" />
    <meta name="http-equiv" content="Content-type: text/html; charset=UTF-8">

    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="~/css/style.css" rel='stylesheet' type='text/css' />
    <!-- js -->
    <script src="~/js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <!--alertttt-->
    <script src="~/js/jquery-confirm.js"></script>
    <link href="~/css/jquery-confirm.css" rel="stylesheet" />
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
    <!--- start-rate---->
    <script src="~/js/jstarbox.js"></script>
    <link rel="stylesheet" href="~/css/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
    <script type="text/javascript">
        jQuery(function () {
            jQuery('.starbox').each(function () {
                var starbox = jQuery(this);
                starbox.starbox({
                    average: starbox.attr('data-start-value'),
                    changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
                    ghosting: starbox.hasClass('ghosting'),
                    autoUpdateAverage: starbox.hasClass('autoupdate'),
                    buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
                    stars: starbox.attr('data-star-count') || 5
                }).bind('starbox-value-changed', function (event, value) {
                    if (starbox.hasClass('random')) {
                        var val = Math.random();
                        starbox.next().text(' ' + val);
                        return val;
                    }
                })
            });
        });
    </script>
    <!---//End-rate---->

</head>
<body>
    <div class="header">
        <div class="container">
            <div class="logo">
                <h1><a href="index.html"><b>T<br>H<br>E</b>Big Store<span>The Best Supermarket</span></a></h1>
            </div>
            <div class="head-t">
                <ul class="card">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li><a asp-action="Log" asp-controller="User"><i class="fa fa-user" aria-hidden="true"></i>Вход</a></li>
                        <li><a asp-action="Reg" asp-controller="User"><i class="fa fa-arrow-right" aria-hidden="true"></i>Регистрация</a></li>
                    }
                    else
                    {
                        <li><a asp-action="Logout" asp-controller="User"><i class="fa fa-arrow-right" aria-hidden="true"></i>Выход</a></li>
                    }
                </ul>
            </div>

            <div class="nav-top">
                <nav class="navbar navbar-default">

                    @*<div class="navbar-header nav_2"> 
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


            </div>*@
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav ">
                            @switch (ViewData["Title"])
                            {
                                case "Товары":
                                    <li class=" active"><a asp-controller="Home" asp-action="Index" class="hyper "><span>Товары</span></a></li>
                                    <li><a asp-controller="Home" asp-action="Sale" class="hyper "><span>Скидки</span></a></li>
                                    break;
                                case "Скидки":
                                    <li><a asp-controller="Home" asp-action="Index" class="hyper "><span>Товары</span></a></li>
                                    <li class=" active"><a asp-controller="Home" asp-action="Sale" class="hyper "><span>Скидки</span></a></li>
                                    break;
                                default:
                                    <li><a asp-controller="Home" asp-action="Index" class="hyper "><span>Товары</span></a></li>
                                    <li><a asp-controller="Home" asp-action="Sale" class="hyper "><span>Скидки</span></a></li>
                                    break;
                            }
                            
                        </ul>
                    </div>
                </nav>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="cart">

                        <span class="fa fa-shopping-cart my-cart-icon"><span class="badge badge-notify my-cart-badge"></span></span>
                    </div>
                }

                <div class="clearfix"></div>
            </div>

        </div>
    </div>
    <!---->

    @RenderBody()



    <!--footer-->
    <div class="footer">
        <div class="container">
            @*<div class="col-md-3 footer-grid">
                <h3>About Us</h3>
                <p>
                    Nam libero tempore, cum soluta nobis est eligendi
                    optio cumque nihil impedit quo minus id quod maxime
                    placeat facere possimus.
                </p>
            </div>
            <div class="col-md-3 footer-grid ">
                <h3>Menu</h3>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="kitchen.html">Kitchen</a></li>
                    <li><a href="care.html">Personal Care</a></li>
                    <li><a href="hold.html">Household</a></li>
                    <li><a href="codes.html">Short Codes</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid ">
                <h3>Customer Services</h3>
                <ul>
                    <li><a href="shipping.html">Shipping</a></li>
                    <li><a href="terms.html">Terms & Conditions</a></li>
                    <li><a href="faqs.html">Faqs</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="offer.html">Online Shopping</a></li>

                </ul>
            </div>
            <div class="col-md-3 footer-grid">
                <h3>My Account</h3>
                <ul>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="register.html">Register</a></li>
                    <li><a href="wishlist.html">Wishlist</a></li>

                </ul>
            </div>
            <div class="clearfix"></div>*@
            <div class="footer-bottom">
                <h2><a href="index.html"><b>T<br>H<br>E</b>Big Store<span>The Best Supermarket</span></a></h2>
            </div>
            <div class="copy-right">
                <p> &copy; 2016 Big store. All Rights Reserved</p>
            </div>
        </div>
    </div>
    <!-- //footer-->
    <!-- smooth scrolling -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!-- //smooth scrolling -->
    <!-- for bootstrap working -->
    <script src="~/js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <script src="~/js/jquery.mycart.js" charset="UTF-8"></script>
    <script type="text/javascript" charset="UTF-8">
        $(function () {

            var goToCartIcon = function ($addTocartBtn) {
                var $cartIcon = $(".my-cart-icon");
                var $image = $('<img width="30px" height="30px" src="' + $addTocartBtn.data("image") + '"/>').css({ "position": "fixed", "z-index": "999" });
                $addTocartBtn.prepend($image);
                var position = $cartIcon.position();
                $image.animate({
                    top: position.top,
                    left: position.left
                }, 500, "linear", function () {
                    $image.remove();
                });
            }

            $('.my-cart-btn').myCart({
                classCartIcon: 'my-cart-icon',
                classCartBadge: 'my-cart-badge',
                affixCartIcon: true,
                checkoutCart: function (products) {
                    $.each(products, function () {
                        console.log(this);
                    });
                },
                clickOnAddToCart: function ($addTocart) {
                    goToCartIcon($addTocart);
                },
                getDiscountPrice: function (products) {
                    var total = 0;
                    $.each(products, function () {
                        total += this.quantity * this.price;
                    });
                    return total * 1;
                }
            });

        });
    </script>
    <script type="text/javascript">
        $('.noAuth').on('click', function () {
            $.alert({
                title: 'Внимание!',
                animation: 'scale',
                content: 'Вы не вошли в профиль'
            });
        });</script>

</body>
</html>
